<div class="row-fluid">
  <div class="span12">
    <a {{bindAttr href="url" }}>{{url}} </a>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    Title: {{title}}
    </div>
</div>
<div class="row-fluid">
  <div class="span12">
    Description: {{description}}
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    Tags: {{tags}}
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    {{#linkTo "link.index"}}&lt; back{{/linkTo}}
  </div>
</div>