<div class="nav well span6">
  {{#if isEditing}}
    {{partial "link/submitEdit"}}
  {{else}}
    <p>Please paste a URL below to share a link....</p>
    {{view Ember.TextField placeholder="Paste URL here to share..." valueBinding="url" action="beginLinkSubmit"}}
    {{/if}}
</div>
<div class="row-fluid">
    <div class="span12">
        <br />
    </div>
</div>
{{#each content}}
  <div class="row-fluid">
    <div class="span12">
      <hr /> 
    </div>
  </div>
  <div class="row-fluid">
    <img {{bindAttr src="thumbnail.url"}} {{bindAttr width=thumbnail.width}} {{bindAttr height=thumbnail.height}}/>
    <p>Title: {{#linkTo "link.detail" this}}{{title}}{{/linkTo}}</p>
    <p>URL: <a {{bindAttr href="url" }}>{{url}} </a></p>
    <p>Description: {{description}}</p>
    <p>Tags: {{tags}}</p>
  </div>
</div>
{{/each}}